@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

* {
  font-family: 'Courier New', Courier, monospace;
}

.moveButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  background-color: black;
}

.moveButton:hover {
  background-color: #2f2f2f;
}

.mBleft:hover {
  background: linear-gradient(90deg, #2f2f2f 0%, rgba(0, 0, 0, 1) 100%);
}

.mBright:hover {
  background: linear-gradient(270deg, rgb(47, 47, 47) 0%, rgba(0, 0, 0, 1) 100%);
}

.mBup:hover {
  background: linear-gradient(180deg, rgb(47, 47, 47) 0%, rgba(0, 0, 0, 1) 100%);
}

.mBdown:hover {
  background: linear-gradient(0deg, rgb(47, 47, 47) 0%, rgba(0, 0, 0, 1) 100%);
}

.mBup{
  box-shadow: 0vh 0vh 0.5vh 0.5vh rgb(47, 47, 47);
}

.mBleft{
  box-shadow: 0.5vh -0.5vh 0.5vh 0.5vh rgb(47, 47, 47);
}

.mBright{
  box-shadow: -0.5vh -0.5vh 0.5vh 0.5vh rgb(47, 47, 47);
}

table {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}